<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gradians.collect"
    android:versionCode="40"
    android:versionName="5.0.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="20" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/on_phone_lowres"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:icon="@drawable/title_icon_lowres"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:icon="@drawable/title_icon_lowres"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:icon="@drawable/title_icon_lowres"
            android:label="@string/title_activity_list"
            android:launchMode="singleTop"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BrowseActivity"
            android:icon="@drawable/title_icon_lowres"
            android:label="@string/title_activity_browse"
            android:launchMode="singleTop"
            android:parentActivityName=".ListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DetailActivity"
            android:icon="@drawable/title_icon_lowres"
            android:label="@string/title_activity_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:icon="@drawable/title_icon_lowres"
            android:label="@string/title_activity_camera"
            android:parentActivityName=".DetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:icon="@drawable/title_icon_lowres"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:icon="@drawable/title_icon_lowres"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AskQuestionActivity"
            android:label="@string/title_activity_ask_question"
            android:parentActivityName=".HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <service
            android:name=".ImageUploadService"
            android:enabled="true" >
        </service>

    </application>

</manifest>
